* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: hsl(221, 51%, 16%); */
  background-color: hsl(216, 100%, 4%);
}
nav {
  position: static;
  top: 0;
}
li a {
  font-size: 17px;
  color: bisque;
}
.wecan-img {
  aspect-ratio: 5/4;
}
.main-text {
  padding-top: 90px;
  color: white;
}
