:root {
  --primary-color: #007bff;
  --background-color: #f8f9fa;
  --text-color: #000;
}

[data-theme="dark"] {
  --primary-color: #bada55;
  --background-color: hsl(236, 43%, 12%);
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  margin-top: 20px;
}
